<%!--
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
  http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
--%>
<script>
  show("#sample-data");
  show("#json-schema");
  show("#schema");
</script>
<div class="row">
  <div class="col-md move-up">
    <h3 class="extensions">
      Agent
      <span class="text-secondary">
        Model
      </span>
    </h3>

    <div class="text-secondary">
      The data model defines a schema for AI agent content representation. The schema provides a way to describe agent's features, constraints, artifact locators, versioning, ownership, or relevant details. 
    </div>
    <div class="text-secondary mt-2">
    </div>
  </div>
  <div class="col-md-auto fixed-right mt-2">
    <div class="navbar-expand-md">
      <div class="form-inline">
        <ul class="navbar-nav">
          <li class="nav-item mr-2">
            <select multiple
              id="attributes-select"
              class="selectpicker"
              data-style="btn-outline-secondary"
              data-selected-text-format="count > 3"
              data-actions-box="true"
              data-width="auto">
              <option selected id="base-event-select" class="base-event" value="base-event" title="Base Event">Base
                Event Attributes
              </option>
              <option value="deprecated" title="Deprecated">Deprecated Attributes</option>
              <optgroup id="groups-select" label="Groups">
                <option selected value="classification">Classification</option>
                <option selected value="context">Context</option>
                <option selected value="occurrence">Occurrence</option>
                <option selected value="primary">Primary</option>
              </optgroup>
              <optgroup id="requirements-select" label="Requirements">
                <option class="optional" value="optional" title="Optional">Optional Attributes</option>
                <option class="recommended" value="recommended" title="Recommended">Recommended Attributes</option>
              </optgroup>
            </select>
          </li>
          <li class="nav-item">
            <input type="text" id="tableSearch" onkeyup="searchInTable()" class="form-control border-dark" placeholder="Search" autofocus>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="mt-4">
    <table id="data-table" class="table table-bordered sortable">
        <thead >
        <tr class="thead-color">
            <th style="width: 10%">Caption</th>
            <th style="width: 10%">Name</th>
            <th style="width: 10%">Group</th>
            <th style="width: 10%">Requirement</th>
            <th style="width: 10%">Type</th>
            <th style="width: 50%">Description</th>
        </tr>
        </thead>
        <tbody class="searchable">

        <tr class="event not-deprecated required classification no-profile">
            <td class="name">Name</td>
            <td>name</td>
            <td class="capitalize">classification</td>
            <td>Required</td>
            <td class="extensions">String</td>
            <td>Name of the agent</td>
        </tr>

        <tr class="event not-deprecated required classification no-profile">
            <td class="name">Version</td>
            <td>version</td>
            <td class="capitalize">classification</td>
            <td>Required</td>
            <td class="extensions">String</td>
            <td>Name of the agent</td>
        </tr>

        <tr class="event not-deprecated required classification no-profile">
            <td class="name">Creation Time</td>
            <td>created_at</td>
            <td class="capitalize">classification</td>
            <td>Required</td>
            <td class="extensions">String</td>
            <td>Timestamp of the agent creation time</td>
        </tr>

        <tr class="event not-deprecated required classification no-profile">
            <td class="name">Authors</td>
            <td>authors</td>
            <td class="capitalize">classification</td>
            <td>Required</td>
            <td class="extensions">Array[string]</td>
            <td>List of agent’s authors</td>
        </tr>

        <tr class="event not-deprecated optional classification no-profile">
            <td class="name">Annotations</td>
            <td>annotations</td>
            <td class="capitalize">context</td>
            <td>Optional</td>
            <td class="extensions">Map[string, string]</td>
            <td>Additional metadata associated with this agent</td>
        </tr>

        <tr class="event not-deprecated required classification no-profile">
            <td class="name">Locators</td>
            <td>locators</td>
            <td class="capitalize">classification</td>
            <td>Required</td>
            <td class="extensions">List(Locator)</td>
            <td>List of source locators where this agent can be found or used from</td>
        </tr>

        <tr class="event not-deprecated required classification no-profile">
            <td class="name">Extensions</td>
            <td>extensions</td>
            <td class="capitalize">classification</td>
            <td>Required</td>
            <td class="extensions">List(Extension)</td>
            <td>List of extension models that describe this agent and its capabilities more in depth</td>
        </tr>

        <tr class="event not-deprecated required classification no-profile">
            <td class="name">Digest</td>
            <td>digest</td>
            <td class="capitalize">classification</td>
            <td>Required</td>
            <td class="extensions">String</td>
            <td>Digest of the agent contents</td>
        </tr>
    </tbody>
  </table>
</div>


<div class="row">
  <div class="col-md move-up">
    <h3 class="extensions">
      Agent Extension
      <span class="text-secondary">
        Model
      </span>
    </h3>

    <div class="text-secondary">
      Extensions provide dynamic descriptors for an agent. For example, security and categorization features can be described using extensions.
    </div>
    <div class="text-secondary mt-2">
    </div>
  </div>
</div>

<div class="mt-4">
  <table id="data-table" class="table table-bordered sortable">
    <thead >
    <tr class="thead-color">
      <th style="width: 10%">Caption</th>
      <th style="width: 10%">Name</th>
      <th style="width: 10%">Group</th>
      <th style="width: 10%">Requirement</th>
      <th style="width: 10%">Type</th>
      <th style="width: 50%">Description</th>
    </tr>
    </thead>
    <tbody class="searchable">
    <tr class="event not-deprecated required classification no-profile">
            <td class="name">Name</td>
            <td>name</td>
            <td class="capitalize">classification</td>
            <td>Required</td>
            <td class="extensions">String</td>
            <td>Name of the agent</td>
        </tr>

        <tr class="event not-deprecated required classification no-profile">
            <td class="name">Version</td>
            <td>version</td>
            <td class="capitalize">classification</td>
            <td>Required</td>
            <td class="extensions">String</td>
            <td>Name of the agent</td>
        </tr>

        <tr class="event not-deprecated optional classification no-profile">
            <td class="name">Annotations</td>
            <td>annotations</td>
            <td class="capitalize">context</td>
            <td>Optional</td>
            <td class="extensions">Map[String, String]</td>
            <td>Additional metadata associated with this agent</td>
        </tr>

        <tr class="event not-deprecated required classification no-profile">
            <td class="name">Specification</td>
            <td>specs</td>
            <td class="capitalize">classification</td>
            <td>Required</td>
            <td class="extensions">OneOf(any, <a href="/categories">Category</a>, <a href="/main_domains">Domain</a>)</td>
            <td>Generic specification schema of this extension</td>
        </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-md move-up">
    <h3 class="extensions">
      Agent Locator
      <span class="text-secondary">
        Model
      </span>
    </h3>

    <div class="text-secondary">
      Locators provide actual artifact locators of an agent. For example, this can reference sources such as helm charts, docker images, binaries, etc.
    </div>
    <div class="text-secondary mt-2">
    </div>
  </div>
</div>
<div class="mt-4">
  <table id="data-table" class="table table-bordered sortable">
    <thead >
    <tr class="thead-color">
      <th style="width: 10%">Caption</th>
      <th style="width: 10%">Name</th>
      <th style="width: 10%">Group</th>
      <th style="width: 10%">Requirement</th>
      <th style="width: 10%">Type</th>
      <th style="width: 50%">Description</th>
    </tr>
    </thead>
    <tbody class="searchable">
    <tr class="event not-deprecated required classification no-profile">
            <td class="name">Name</td>
            <td>name</td>
            <td class="capitalize">classification</td>
            <td>Required</td>
            <td class="extensions">String</td>
            <td>Name of the agent</td>
        </tr>

        <tr class="event not-deprecated optional classification no-profile">
            <td class="name">Annotations</td>
            <td>annotations</td>
            <td class="capitalize">context</td>
            <td>Optional</td>
            <td class="extensions">Map[String, String]</td>
            <td>Additional metadata associated with this agent</td>
        </tr>

        <tr class="event not-deprecated required classification no-profile">
            <td class="name">Type</td>
            <td>type</td>
            <td class="capitalize">classification</td>
            <td>Required</td>
            <td class="extensions">String</td>
            <td>Describes the type of the release manifest pointed by its URI, e.g. oci-image, docker-image, py-package, binary. Allowed values MAY be defined for common manifest types.</td>
        </tr>

        <tr class="event not-deprecated required classification no-profile">
            <td class="name">URL</td>
            <td>url</td>
            <td class="capitalize">classification</td>
            <td>Required</td>
            <td class="extensions">String</td>
            <td>specifies an URI from which this object MAY be downloaded. Value MUST conform to RFC 3986. Value SHOULD use the http and https schemes, as defined in RFC 7230.</td>
        </tr>
        <tr class="event not-deprecated optional classification no-profile">
            <td class="name">Size</td>
            <td>size</td>
            <td class="capitalize">context</td>
            <td>Optional</td>
            <td class="extensions">UInt64</td>
            <td>Specifies the size of the release manifest in bytes.</td>
        </tr>
        <tr class="event not-deprecated optional classification no-profile">
            <td class="name">Digest</td>
            <td>digest</td>
            <td class="capitalize">context</td>
            <td>Optional</td>
            <td class="extensions">String</td>
            <td>Specifies the digest of the release manifest contents.</td>
        </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-md move-up">
    <h3 class="extensions">
      Example
    </h3>

    <div class="text-secondary">
      Example representation of an agent in a JSON format.
    </div>
    <div class="text-secondary mt-2">
    </div>
  </div>
  <div class="col-md-auto fixed-right mt-2">
    <pre>
{
  "name": "marketing-strategy",
  "version": "v1.0.0",
  "authors": [
    "Cisco <dev@cisco.com>"
  ],
  "created_at": {
    "seconds": 1735689600
  },
  "locators": [
    {
      "type": 3,
      "source": {
        "url": "http://ghcr.io/agntcy/marketing-strategy"
      }
    }
  ],
  "extensions": [
    {
      "name": "runtime",
      "version": "v0.0.0",
      "specs": {
        "language": "python",
        "sbom": {
          "name": "marketing-strategy",
          "packages": [
            {
              "name": "crewai",
              "version": "0.55.2"
            },
            {
              "name": "langchain",
              "version": "0.2.16"
            },
            {
              "name": "langchain-ollama",
              "version": "0.1.3"
            },
            {
              "name": "langchain-openai",
              "version": "0.1.25"
            },
            {
              "name": "langgraph",
              "version": "0.2.34"
            }
          ]
        },
        "version": "\u003e=3.11,\u003c3.13"
      }
    },
    {
      "name": "category",
      "version": "v0.0.0",
      "specs": {
        "categories": [
          "Contextual Comprehension [1002]",
          "Text Summarization [1007]",
          "Natural Language Generation [1005]"
        ]
      }
    },
    {
      "name": "crewai",
      "version": "v0.0.0",
      "specs": {
        "agent.chief_marketing_strategist.backstory": "You are the Chief Marketing Strategist at a leading digital marketing agency, known for crafting bespoke strategies that drive success.\n",
        "agent.chief_marketing_strategist.goal": "Synthesize amazing insights from product analysis to formulate incredible marketing strategies.\n",
        "agent.chief_marketing_strategist.role": "Chief Marketing Strategist\n",
        "agent.creative_content_creator.backstory": "As a Creative Content Creator at a top-tier digital marketing agency, you excel in crafting narratives that resonate with audiences. Your expertise lies in turning marketing strategies into engaging stories and visual content that capture attention and inspire action.\n",
        "agent.creative_content_creator.goal": "Develop compelling and innovative content for social media campaigns, with a focus on creating high-impact ad copies.\n",
        "agent.creative_content_creator.role": "Creative Content Creator\n",
        "agent.lead_market_analyst.backstory": "As the Lead Market Analyst at a premier digital marketing firm, you specialize in dissecting online business landscapes.\n",
        "agent.lead_market_analyst.goal": "Conduct amazing analysis of the products and competitors, providing in-depth insights to guide marketing strategies.\n",
        "agent.lead_market_analyst.role": "Lead Market Analyst\n",
        "inputs.campaign_idea_task": "string",
        "inputs.copy_creation_task": "string",
        "inputs.marketing_strategy_task": "string",
        "inputs.project_understanding_task": "string",
        "inputs.research_task": "string",
        "task.campaign_idea_task.description": "Develop creative marketing campaign ideas for {project_description}. Ensure the ideas are innovative, engaging, and aligned with the overall marketing strategy.\n",
        "task.campaign_idea_task.expected_output": "A list of 5 campaign ideas, each with a brief description and expected impact.\n",
        "task.copy_creation_task.description": "Create marketing copies based on the approved campaign ideas for {project_description}. Ensure the copies are compelling, clear, and tailored to the target audience.\n",
        "task.copy_creation_task.expected_output": "Marketing copies for each campaign idea.\n",
        "task.marketing_strategy_task.description": "Formulate a comprehensive marketing strategy for the project {project_description} of the customer {customer_domain}. Use the insights from the research task and the project understanding task to create a high-quality strategy.\n",
        "task.marketing_strategy_task.expected_output": "A detailed marketing strategy document that outlines the goals, target audience, key messages, and proposed tactics, make sure to have name, tatics, channels and KPIs",
        "task.project_understanding_task.description": "Understand the project details and the target audience for {project_description}. Review any provided materials and gather additional information as needed.\n",
        "task.project_understanding_task.expected_output": "A detailed summary of the project and a profile of the target audience.\n",
        "task.research_task.description": "Conduct a thorough research about the customer and competitors in the context of {customer_domain}. Make sure you find any interesting and relevant information given the current year is 2024. We are working with them on the following project: {project_description}.\n",
        "task.research_task.expected_output": "A complete report on the customer and their customers and competitors, including their demographics, preferences, market positioning and audience engagement.\n"
      }
    }
  ]
}
    </pre>
  </div>
</div>

<script>
  init_schema_buttons();
  init_class_profiles();
</script>
